
.home-img{
  width:100%;
    position:fixed;
     height: 100%;
   z-index:-10;
 filter:brightness(50%);
 top:0px;
 display:none;
 }


*{
 margin:0px;
 padding:0px;
 font-family: 'Raleway', sans-serif;
 scroll-behavior: smooth;
}


#menu-bar{
display:flex;
 flex-direction:column; 
 z-index:1;
 position:absolute;
 background-color:white;
 height:380px;
 transition: all 0.4s ease;
 top:45px;
width:240px;
 align-items:center;
 gap:30px;
border-bottom-right-radius: 30px;
 border-top-right-radius: 30px;
 transition: 0.5s ease-in-out;
}

.nav-head{
 margin-top:10px;
 font-size:23px;
}



.menu-btns{
 display:flex;
 justify-content:start;
 position:relative;
top:10px;
 margin-left:10px;
 cursor: pointer;
}




.menu-btns:hover{
color: rgba(181, 225, 117, 0.961);
}



.slide{
 left:-100%;
}

.hide{
 visibility:hidden;
}

.open{
 position:absolute;
}




.nav-link{
 margin:30px;
 font-weight:400;
  font-family: 'Raleway', sans-serif;
 text-align:center;
 position:relative;
 top:-30px;
 
}

.nav-social{
  top:-45px;
   position:relative;
 display:grid;
 grid-template-columns: repeat(5,25px);
 gap:13px;
}


.nav-social i{
 font-size:23px;


}

.nav-social img{
 width:23px;
 
}


a{
 text-decoration:none;
 color:goldenrod;
}



.large-screen-img{
 display:none;
 position:absolute;
}

.img-link{
width: 10%;
height:auto;
}


.works img:hover{
  transform:scale(1.1);
  
 }
 

/*font-family: 'Edu VIC WA NT Beginner', cursive;*/

 .images{
 width:130px;
 height:190px;
 border:2px solid goldenrod;
 }
 


 .mother-container{
  z-index:-10;
    margin-top:390px;
 }

 .personal-info{
color:white;
    font-family:system-ui;
  padding:15px;
  margin-top:-25px;
  background-color:rgba(0, 0, 0, 0.057);
    
 }
 
 .personal-info:hover{
  color:goldenrod;
  cursor: pointer;
 }


 .name{
font-size:40px;
    font-weight:300;
 }

 .title{
font-size:15px;
  font-weight:300;
 }

 .social{
  display:flex;
  gap:18px;
  margin-top:15px;
 }

 .awards{
margin-top:17px;
  background-color:rgba(218, 165, 32, 0.298);
  display:grid;
  justify-content:center;
  align-items:center;
    height:520px;
    column-gap:-20px;
 }


.award-img{
 width:250px;
 height:220px;
  border:2px solid goldenrod;
}

 .works{
margin-top:20px;
    display:grid;
    grid-template-columns: repeat(2,130px);
    justify-content:center;
    align-items:center;
    gap:12px;
 }


footer{
  background-color:rgba(0, 0, 0, 0.321);
 height:70px;
 margin-top:30px;
 z-index:-99;
}

.foot-note{
position:relative;
 color:goldenrod;
 text-align:center;
 top:35px;
 font-weight:bold;
}

/* ABOUT FOOTER*/


